.topbar-actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 40px;
    margin-left: auto;
    text-decoration: none; 
}
.topbar-link {
    font-weight: bold;
    color: #222;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 20px;
    margin-top: 18px;
    cursor: pointer;
    transition: color 0.2s;
}
.topbar-link:hover {
    color: #e84545;
    text-decoration: underline;
}
/*Top stationary bar set up and formatting*/
.top-bar{
    position: fixed;    /* keeps it in place */
    top: 0;             /* sticks to the top */
    left: 0;
    height: 9%;
    width: 100%;        /* span full width */
    background-color: #c2dfe3;
    display: flex;              /* arrange items in a row */
    justify-content: space-between; 
    padding: 15px 0;
    z-index: 1000;      /* make sure it stays on top */
}


/*adds title page on top bar*/
.logoutMainPage{
    background: none;        /* remove background */
    color: black;            
    font-size: 25px;
    height: 70px;
    text-decoration: none;   /* remove underline */
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
    margin-right: 0;
    align-self: center;
    border: none;
    
}

/*center images on top margin bar*/
.img-button{
    margin-left: 40px;
    height: 80px;   /* adjust image size */
    width: auto;
}

.title-img{
    height: 140px;   /* adjust image size */
    width: auto;
    margin-right: 80px;
    margin-top: -30px;
}

.welcome-text{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    text-align: center;
}

.welcome-p{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    text-align: center;
    text-decoration: none;
}

.img-desc{
   display: flex;
   gap: 50px; /* space between images */
    justify-content: center;
}

.imgblock{
    width: 400px;
    height: 250px;
}



