<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find Events - FriendAligner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/heading.css') }}">
  <script src="{{ url_for('static', filename='js/auth.js') }}" ></script>
  
</head>
<body>
  <div class = "top-bar">
        <a href="{{ url_for('main_menu') }}">
        <img src="{{ url_for('static', filename='images/FriendAlignerLogo.jpg') }}" class="img-button" alt="FriendAligner Logo">
        </a>
    </div>
    <br><br><br><br><br><br>
  <div class="finder-form">
    <h2>Find Events Nearby</h2>
    <form action="{{ url_for('events.find_event') }}" method="get">
      <input name="zip" placeholder="Zip code" required>
      <input name="keyword" placeholder="Activity keyword" required>
      <button type="submit" class="btn">Confirm Choices</button>
    </form>
  </div>
</body>
</html>
