<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Groups</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendarMODS.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/heading.css') }}">
    <script src="{{ url_for('static', filename='js/groups_overview.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/navbar_user.js') }}" defer></script>
</head>
<body>
        {% include '_navbar.html' %}
    <br><br><br><br><br><br>

    <div class="container">
        <!-- Content will be rendered by JS -->
    </div>
</body>
</html>
