<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content ="width=device-width,initial-scale=1.0">
    <title>Main Menu - FriendAligner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/heading.css') }}">
    <script src="{{ url_for('static', filename='js/auth.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div class = "top-bar">
        <img src="{{ url_for('static', filename='images/FriendAlignerLogo.jpg') }}" class="img-button" alt="FriendAligner Logo">
        <div class="topbar-actions">
            <a href="{{ url_for('notifications') }}" class="topbar-link">Notifications</a>
            <button type="button" class ="logoutMainPage">Logout</button>
        </div>
    </div>

    <nav class="navbar">
        <div class="navbar-content">
            <a href="{{ url_for('notifications') }}" class="navbar-link">Notifications</a>
        </div>
    </nav>

    <br><br><br><br><br><br>

    <!--Menu Options-->
    <div class="container">
        <h2 style="text-align:center;">Main Menu</h2>
        <div class="main-menu-row">
        <!--Invite friends and generate new calendar-->
            <div class="menu-box">
                <h3>Shared Calendar</h3>
                <p>Create and manage a shared calendar for your group. Invite friends to join and coordinate events together.</p>
                <a href="{{ url_for('invite') }}" class="btn">Invite Friends</a>
                <a href="{{ url_for('groups_overview') }}" class="btn" style="margin-top:10px;">View Shared Calendar</a>
            </div>
        <!--Access personal calendars-->
            <div class="menu-box">
                <h3>Personal Calendar</h3>
                <p>Set up your own personal calendar to track your availability and manage your schedule.</p>
                <a href="{{ url_for('calendar_create') }}" class="btn">Create Personal Calendar</a>
                <a href="{{ url_for('calendar_view') }}" class="btn">View My Calendar</a>
            </div>
        <!--Event finder-->
            <div class="menu-box">
                <h3>Event Finder</h3>
                <p>Discover new events and locations nearby. Suggest events for your group to attend together.</p>
                    <a href="{{ url_for('event_finder') }}" class="btn">Find New Events</a>
                <a href ="" class="btn" >Previous Viewed Events <br>(Coming Soon)</a>
            </div>
        </div>
    </div>

</body>
</html>
